# git
/.git

# node.js
/node_modules
/npm-debug.log

# bower
bower_components

# java
/RemoteSystemsTempFiles
/.metadata
*.prefs
*.project
*.classpath
/lib

# build
/src/package.json
/bin
/bin-plugins
/build-res/bin
/build-res/cache
/build-res/prerelease
/release

#exec
/config

# other
/target/
/old
