html, body {
  background: #CCCCCC;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", Osaka, sans-serif;
}

.hidden {
  display: none;
}

dt, dd, .button-left {
  float: left;
}
