!!! 5
%html{lang: "ja"}
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="css/core.css")
  %body
    %h1 test
    you're now using node-webkit!!
    node.js
    %script
      document.write(process.version)
    .
