!!! 5
%html{lang: "ja"}
  %head
    %meta(charset="utf-8")
    %title test
    %link(rel="stylesheet" type="text/css" href="css/core.css")
    %script(type="text/javascript" src="../core.js")
  %body
    %h1 test
    you're now using node-webkit!!
