!!! 5
%html{lang: "ja"}
  %head
    %meta(charset="utf-8")
    %link(rel="stylesheet" type="text/css" href="css/core.css")
    -# ライブ リロード用コード
    <!--removeIf(production)-->
    %script
      require("electron-connect").client.create()
    <!--endremoveIf(production)-->
  %body
    %h1 test
    you're now using node-webkit!!
    %br
    node.js
    %script
      document.write(" " + process.version);
    %br
    %script
      var app = require("remote").require("app");
      document.write(app.getName() + " ");
      document.write(app.getVersion());
